@use 'sass:map';
@use '@angular/material' as mat;


@mixin color($theme) {


  .main-container {
    background: mat.get-theme-color($theme, surface-container);


  }

  mat-toolbar {
    background: mat.get-theme-color($theme, surface-container);
  }

  mat-drawer-container {
    background: mat.get-theme-color($theme, surface-container);
  }
  mat-drawer-content {
    background: mat.get-theme-color($theme, surface-container);
  }
  mat-drawer {
    background: mat.get-theme-color($theme, surface-container);
  }



}

@mixin theme($theme) {
  @if mat.theme-has($theme, color) {
    @include color($theme);
  }
}
