<div class="main-container">
  <div class="confirm-register-container">
    <div class="content-container">
      <h4>
        Реєстрація за кодом
      </h4>
      <p class="confirm-text">
        Впишіть код з електронної адреси яка прийшла вам на пошту.
      </p>
      <form class="field-box">
        <mat-form-field appearance="outline" subscriptSizing="dynamic" hideRequiredMarker="true">
          <mat-label>Код</mat-label>
          <input matInput type="text" required>
        </mat-form-field>
        <button mat-stroked-button >Підтвердити</button>
      </form>
    </div>
  </div>
</div>
